@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,600&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* Navbar Styling */
.navbar {
  position: top;
  width: 100%;
  padding: 15px 0;
  /* background: crimson; */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #852727;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(184, 132, 143);
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu al a:hover{
  color: #fff;
}
.navbar .logo a span {
  color: crimson;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #440808;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu al a:hover{
  color: #793333;
}

/* Menu btn styling */

.menu-btn{
color: #fff;
font-size: 23px;
cursor: pointer;
display: none;
}
.about{
  position: absolute;
  left: 23%;
  width: 60vb;
   top : 30% ;
   height: 50%;
   border-radius: 50%;
   background-color: #852727;
  }
img{
      width: 20vb;
   }
   .main{
    margin-top: 10%;
   }

   /* Services / Projects Section Styling */
#services{
  display: inline-flexbox;
  background: #fff;
  color: #fff;
  display: inline-block;
  top: 30rem;
  margin-top: 10%;
  width: 70%;
  border-left: 20%;
  border-left: 1rem;


}
.services .title::before{

  background:#fff ;
}
.services .title::after{
  background: #111;
}
.services .serv-content .card{
  display: inline-block;
  width:calc(33% - 20px);
  background: #bfafaf;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  justify-content: space-around;
  margin: 1rem;
 


}
.services .serv-content .card i{
  font-size:50px;
  color: crimson;
  transition: color 0.3s ease;


}
.services .serv-content .card:hover{
  background: crimson;

}
.services .serv-content .card .text{
  font-size:25px;
  font-weight: 500;
  margin:10px 0 7px 0 ;
  
}

.services .serv-content .card .box{
  transition: all 0.3s ease;
}


.services .serv-content .card:hover .box{
  transform: scale(1.05) ;
 

}
  @media(max-width:576px){
  .dropdown_menu{
    left: 2rem;
    width :unset;
  }
  .container-swiper{
    display: none;
  }
  section#hero{
    display:none
  }

  }

       /*RESPONSIVE*/
@media(max-width:992px){
  .navbar .links,
  .navbar .action_btn{
  display: none;
  }
  .navbar .toggle_btn {
  display: block
  }
  .dropdown_menu{
   display: block;

  }
  section#hero{
    display:flex
  }

  
  }
  
  

